# Introduction Python

### defaultdict

defaultdict sama dengan tipe data dictionary yang sudah kita bahas di atas.
Hanya saja kita bisa menambahkan default value jika key yang dicari tidak/belum ada dalam dictionary tersebut.
Untuk menggunakan defaultdict kita perlu import dari modul `collections` yang sudah bawaan dari Python.

In [78]:
from collections import defaultdict

word_count = defaultdict(int)

print(word_count)
print(word_count["data"])

defaultdict(<class 'int'>, {})
0

In [79]:
word_count["python"] += 1
word_count

defaultdict(int, {'data': 0, 'python': 1})

Default value tidak harus numeric, bisa juga berupa `list` atau `tuple`.
Jika tipenya berupa `list` atau `tuple`, maka default value nya adalah list kosong.

In [81]:
group = defaultdict(list)

print(group)
group["ganjil"].append(1)
group["genap"] += [4, 8]
print(group)

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {'ganjil': [1], 'genap': [4, 8]})

### Set

Set merupakan tipe data yang merepresentasikan sebuah himpunan dari sekumpulan elemen.
Biasanya dipakai untuk menyimpan sekumpulan nilai yang unik.

In [82]:
list_of_words = ["aku", "kamu", "aku", "nonton", "film", "nonton"]
unique_words = set(list_of_words)
unique_words

{'aku', 'film', 'kamu', 'nonton'}

Untuk menambahkan elemen dalam Set dapat menggunakan built-in method `.add`.

In [83]:
unique_words.add("film")
unique_words.add("bagus")
unique_words

{'aku', 'bagus', 'film', 'kamu', 'nonton'}

## Exceptions

Jika kita terjadi error saat menjalankan program yang kita tulis, error tersebut dapat mengakibatkan program kita crash.
Kita dapat menggunakan Exception untuk menangkap error tersebut dan memberikan penanganan khusus saat error tersebut muncul.

In [84]:
try:
    result = 1 / 0
except ZeroDivisionError:
    print("error pembagian 0")
    # lakukan hal lain jika terjadi error

error pembagian 0

## Basic Mathematical Operations

In [85]:
20 + 2

22

In [86]:
3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6

6.75

In [95]:
10 * 4 % 3 ** 2  # mod
10 // 3  # div

3

### Comparison

In [88]:
5 > 2

True

In [89]:
10 <= 100

True

In [90]:
5 - 95 > 0

False

In [91]:
7 == 7.0

True

In [93]:
True or False

True

In [94]:
type(7.0) == type(7)

False

## IF

In [96]:
number = 5

if number > 10:
    print("Lebih dari 10")
elif number < 3:
    print("Kurang dari 3")
elif number == 3:
    print(3)
else:
    print("Antara 3 dan 10")

Antara 3 dan 10

## Function

Function dapat didefinisikan dengan sintak `def` dan seluruh kode yang ada di dalamnya harus memiliki indentasi satu level lebih ke dalam.

In [1]:
def is_even(x):
    """
    Function untuk mengecek apakah x merupakan bilangan genap
    """
    return x % 2 == 0

is_even(10)

True

Sebuah function juga dapat memiliki parameter input dengan nilai default.

In [2]:
def my_print(message="Hello!"):
    """
    Jika variabel message tidak diberikan
    function ini akan mengembalikan nilai default 'Hello!'
    """
    message = "world!"
    print(id(message))
    return message

In [3]:
test = "machine learning"
print(id(test))
my_print(test)
# print(message)

2872971503456
2872972225328

'world!'

In [102]:
my_print("Selamat Datang")

'Selamat Datang'

### Soal 1

Buat sebuah function untuk mengecek apakah sebuah angka habis dibagi 15.

## Looping

### For Loop

Membuat list yang berisi Integer dari 0 hingga 9

In [132]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

For-Loop dari 0 hingga 9 (10 tidak termasuk)

In [133]:
for i in range(-1, 11):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

Kita juga bisa melakukan For-Loop pada sebuah List untuk mendapatkan tiap - tiap elemennya.

In [123]:
people = ["John", "Brian", "Bob"]
for person in people:
    print(person)

John
Brian
Bob

Untuk mendapatkan pasaman index-elemen, kita bisa menggunakan method `enumerate`.

In [124]:
for i, person in enumerate(people):
    print(i, person)

0 John
1 Brian
2 Bob

### While Loop

In [127]:
i = 2
while i < 10:
    print(i)
    i = i + 20

2

### Soal 2

Tampilkan seluruh bilangan dari 1 - 100, kecuali jika bilang tersebut habis dibagi 3 tampilkan `fizz`.
Jika habis dibagi 5, tampilkan `buzz`.
Jika habis dibagi 15, tampilkan `fizzbuzz`.

In [4]:
for fizzbuzz in range(100):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

## External Resources
1. [Learn Python the Hard Way](https://learnpythonthehardway.org/book/)